/* commons */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* container */
.container {
    width: 80%;
    margin: 50px auto;
}

/* page content */
body {
    color: #fff;
    font-family: 'Prompt', sans-serif;
    font-weight: 300;
    background-color: black;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none; 
    border: 3px solid #f4743e;
    border-radius: 10px;
}

.list__item {
    width: calc(100% / 4);
    text-align: center;
    padding: 15px;
}

.list__item img {
    width: 100%;
    max-height: 260px;
    border: 3px solid #ef2b89;
    border-radius: 10px;
}

